@font-face {
    font-family: Game;
    src:url('../../Assets/Fonts/gameovercre1.ttf');
}

.Container {
    height: 100vh;
    padding-bottom: 2em;
    background-color: #02796f;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #010103;

}

.H1{
    font-family: Game;
    letter-spacing: 5px;
    position: relative;
    padding-top: .5em;
    padding-bottom: .5em;
    font-size: 6em;

}
.ContainerChart {
    width: 60vw;
    position: relative;
    background-color: #ffff;
    border-radius: 50px;
}

.CenterChart {
    margin: 2rem;
}
.Text{
    width: 60vw;
    padding-top: 20px;
    font-size: 1.25em;
    font-family: Game;
}

@media only screen and (max-width: 1000px) and (min-width: 800px) {
    .H1{
        font-size: 5em;
    }
    .ContainerChart {
        width: 90vw;
    }
}

@media only screen and (max-width: 800px) {
    .H1{
        font-size: 4em;
    }
    .ContainerChart {
        width: 80vw;
    }
}

@media only screen and (max-width: 600px) {
    .Container{
        height:100%;
    }
    .CenterChart {
        margin: 1rem;
    }
    .ContainerChart {
        width: 90vw;
    }
    .H1{
        font-size: 2.5em;
    }
}
@media (orientation: landscape) and (max-height: 600px){
    .Container{
        height: 150vh;
    }
}
